#### 1. Import pandas library

In [25]:
import pandas as pd

#### 2. Import mysql.connector

In [26]:
import mysql.connector

#### 2.2. Run the following line

In [27]:
cnx = mysql.connector.connect(user='guest', password='relational', host='relational.fit.cvut.cz', database='stats', use_pure=True)

### Import users table:

#### 3. Initialize cursor (as seen in classes' Jupyter Notebook)

In [28]:
cursor = cnx.cursor()

#### 4. Initialize query  (as seen in classes' Jupyter Notebook) 
#### You want the users table from stats database. (Hint: stats.users)

In [29]:
query = ("SELECT * FROM stats.users")

#### 5. Send query to database  (as seen in classes' Jupyter Notebook)

In [30]:
cursor.execute(query)

#### 6. Create a new dataframe (preferably called users) with the following columns names (as seen in classes' Jupyter Notebook)

In [31]:
columns_users = ['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate', 'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes', 'AccountId', 'Age', 'ProfileImageUrl']

In [32]:
users = pd.DataFrame(columns=columns_users)

#### 7. Fill the new users dataframe with the data you can get iterating through cursor (as seen in classes' Jupyter Notebook)

In [33]:
for i, data in enumerate(cursor):
    users.loc[i] = data

#### 8. Rename Id column to userId

In [34]:
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,None,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,None

In [36]:
user_id=users.rename(columns={"userId":"id"})
user_id.head(10)

,id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,None,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40,None

In [37]:
users.head(10)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,None,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40,None

### Import posts table:

#### 9. Initialize cursor (as seen in classes' Jupyter Notebook)

In [38]:
cursor2 = cnx.cursor()

#### 10. Initialize query  (as seen in classes' Jupyter Notebook) 
#### You want the posts table from stats database. (Hint: no hint this time ;) )

In [39]:
query2 = ("SELECT * FROM stats.posts")

#### 11. Send query to database  (as seen in classes' Jupyter Notebook)

In [40]:
cursor2.execute(query2)

#### 12. Create a new dataframe (preferably called posts) with the following columns names (as seen in classes' Jupyter Notebook)

In [41]:
columns_posts = ['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score', 'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId', 'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate', 'OwnerDisplayName', 'LastEditorDisplayName']

In [42]:
posts = pd.DataFrame(columns=columns_posts)
posts.head(10)

Empty DataFrame
Columns: [Id, PostTypeId, AcceptedAnswerId, CreaionDate, Score, ViewCount, Body, OwnerUserId, LasActivityDate, Title, Tags, AnswerCount, CommentCount, FavoriteCount, LastEditorUserId, LastEditDate, CommunityOwnedDate, ParentId, ClosedDate, OwnerDisplayName, LastEditorDisplayName]
Index: []

[0 rows x 21 columns]

#### 12. Fill the new posts dataframe with the data you can get iterating through cursor (as seen in classes' Jupyter Notebook)

In [43]:
for i, data in enumerate(cursor2):
    posts.loc[i] = data

KeyboardInterrupt:

##### 13. Rename Id column to postId and OwnerUserId to userId

In [44]:
# Just uploading the csv quickly
posts1 = pd.read_csv('posts_table.csv')

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaN,NaN,NaN
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaN,NaN,NaN
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaN,NaN,2010-07-19 20:19:46,NaN,NaN
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,NaN,...,NaN,3,NaN,NaN,NaN,2010-07-19 19:16:27,3.0,NaN,NaN,NaN
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaN,NaN,NaN,NaN,NaN
10,11,1,1201.0,2010-07-19 19:18:30,2,224.0,"<p>Is there a good, modern treatment covering ...",34.0,2010-08-03 21:50:09,Multivariate Interpolation Approaches,...,1.0,2,1.0,34.0,2010-07-28 07:58:52,NaN,NaN,NaN,NaN,NaN
11,12,2,NaN,2010-07-19 19:18:41,20,NaN,"<p>See my response to <a href=""http://stackove...",5.0,2010-07-19 19:18:41,NaN,...,NaN,1,NaN,NaN,NaN,2011-08-12 20:29:33,7.0,NaN,NaN,NaN
12,13,2,NaN,2010-07-19 19:18:56,14,NaN,<p>Machine Learning seems to have its basis in...,23.0,2010-07-19 19:18:56,NaN,...,NaN,4,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN
13,14,2,NaN,2010-07-19 19:19:03,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36.0,2010-07-19 19:19:03,NaN,...,NaN,1,NaN,NaN,NaN,2010-07-19 19:19:03,3.0,NaN,NaN,NaN
14,15,2,NaN,2010-07-19 19:19:46,13,NaN,<p>John Cook gives some interesting recommenda...,6.0,2010-07-19 19:19:46,NaN,...,NaN,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
15,16,2,NaN,2010-07-19 19:22:31,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8.0,2010-07-19 20:43:02,NaN,...,NaN,3,NaN,8.0,2010-07-19 20:43:02,2010-07-19 19:22:31,3.0,NaN,NaN,NaN
16,17,1,29.0,2010-07-19 19:24:12,9,1261.0,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51,How can I adapt ANOVA for binary data?,...,1.0,0,1.0,7972.0,2012-01-22 23:34:51,NaN,NaN,NaN,user28,NaN
17,18,2,NaN,2010-07-19 19:24:18,31,NaN,<p>Also see the UCI machine learning Data Repo...,36.0,2010-07-19 19:24:18,NaN,...,NaN,1,NaN,NaN,NaN,2011-08-12 20:31:32,7.0,NaN,NaN,NaN
18,19,2,NaN,2010-07-19 19:24:21,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55.0,2010-07-19 19:24:21,NaN,...,NaN,0,NaN,NaN,NaN,2011-08-12 20:29:45,7.0,NaN,NaN,NaN
19,20,2,NaN,2010-07-19 19:24:35,3,NaN,<p>The assumption of normality assumes your da...,37.0,2010-07-19 19:24:35,NaN,...,NaN,2,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
20,21,1,NaN,2010-07-19 19:24:36,4,184.0,<p>What are some of the ways to forecast demog...,59.0,2010-09-30 21:14:45,Forecasting demographic census,...,1.0,1,1.0,930.0,2010-09-30 21:14:45,NaN,NaN,NaN,NaN,NaN
21,22,1,NaN,2010-07-19 19:25:39,102,21916.0,<p>How would you describe in plain English the...,66.0,2014-06-05 02:06:32,Bayesian and frequentist reasoning in plain En...,...,15.0,1,67.0,930.0,2011-10-04 07:05:14,NaN,NaN,NaN,NaN,NaN
22,23,1,91.0,2010-07-19 19:26:04,10,7694.0,<p>How can I find the PDF (probability density...,69.0,2010-07-20 08:52:27,Finding the PDF given the CDF,...,2.0,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,2,NaN,2010-07-19 19:26:13,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61.0,2010-07-19 19:26:13,NaN,...,NaN,0,NaN,NaN,NaN,2010-07-19 19:26:13,3.0,NaN,NaN,NaN
24,25,1,32.0,2010-07-19 19:27:13,7,2095.0,<p>What modern tools (Windows-based) do you su...,69.0,2014-08-13 20:29:48,Tools for modeling financial time series,...,7.0,4,5.0,69.0,2010-07-26 23:38:29,2010-07-26 23:38:29,NaN,NaN,NaN,NaN
25,26,1,61.0,2010-07-19 19:27:43,18,3476.0,"<p>What is a standard deviation, how is it cal...",75.0,2013-07-30 10:19:04,What is a standard deviation?,...,8.0,14,7.0,22047.0,2013-07-30 10:19:04,NaN,NaN,NaN,NaN,NaN
26,27,2,NaN,2010-07-19 19:28:12,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68.0,2010-07-19 19:28:12,NaN,...,NaN,0,NaN,NaN,NaN,2011-08-12 20:29:55,7.0,NaN,NaN,NaN
27,28,2,NaN,2010-07-19 19:28:12,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12,NaN,...,NaN,0,NaN,NaN,NaN,2010-07-19 19:28:12,3.0,NaN,user28,NaN
28,29,2,NaN,2010-07-19 19:28:15,5,NaN,<p>Contingency table (chi-square). Also Logist...,36.0,2010-07-19 19:28:15,NaN,...,NaN,0,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN
29,30,1,55.0,2010-07-19 19:28:34,7,705.0,<p>Which methods are used for testing random v...,69.0,2011-05-12 18:38:27,Testing random variate generation algorithms,...,8.0,2,7.0,919.0,2010-08-25 14:12:54,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39970,48291,1,NaN,2013-01-22 21:41:32,0,159.0,<p>Is it possible to determine if distribution...,1261.0,2013-06-22 20:33:47,How to determine if distribution in timeseries...,...,2.0,2,NaN,22047.0,2013-06-22 00:15:30,NaN,NaN,NaN,NaN,NaN
39971,48292,2,NaN,2013-01-22 21:51:18,0,NaN,"<p>From you description, you want to measure<c...",1261.0,2013-01-22 21:51:18,NaN,...,NaN,1,NaN,NaN,NaN,NaN,48288.0,NaN,NaN,NaN
39972,48294,2,NaN,2013-01-22 22:08:29,1,NaN,"<p>My answer to <a href=""http://stats.stacke...",3382.0,2013-01-22 22:49:46,NaN,...,NaN,0,NaN,3382.0,2013-01-22 22:49:46,NaN,47816.0,NaN,NaN,NaN
39973,48295,2,NaN,2013-01-22 22:11:36,0,NaN,<p>There is actually a quite detailed descript...,12719.0,2013-01-22 22:11:36,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48291.0,NaN,NaN,NaN
39974,48296,2,NaN,2013-01-22 22:20:21,5,NaN,<p>Try using the <code>tbats()</code> function...,159.0,2013-01-22 22:20:21,NaN,...,NaN,3,NaN,NaN,NaN,NaN,48253.0,NaN,NaN,NaN
39975,48297,1,48301.0,2013-01-22 22:23:18,4,315.0,"<p><img src=""http://i.stack.imgur.com/4IGUc.jp...",19950.0,2013-01-23 09:36:07,What is this graph called?,...,3.0,2,NaN,7290.0,2013-01-22 22:45:24,NaN,NaN,NaN,NaN,NaN
39976,48298,1,NaN,2013-01-22 22:29:37,2,1210.0,"<p>First off, I'll state that I'm aware many q...",18008.0,2013-04-23 20:58:11,Computing c-index for an external validation o...,...,2.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39977,48299,2,NaN,2013-01-22 22:33:40,2,NaN,<p>When the omitted variable $y$ is correlated...,7071.0,2013-01-23 02:13:06,NaN,...,NaN,0,NaN,7071.0,2013-01-23 02:13:06,NaN,48286.0,NaN,NaN,NaN
39978,48301,2,NaN,2013-01-22 22:40:27,7,NaN,"<p>It is a <a href=""http://en.wikipedia.org/wi...",17463.0,2013-01-23 07:57:58,NaN,...,NaN,4,NaN,17463.0,2013-01-23 07:57:58,NaN,48297.0,NaN,NaN,NaN
39979,48302,1,NaN,2013-01-22 22:44:06,1,151.0,<p>This is a homework question so I would appr...,12518.0,2013-07-26 14:14:55,A constant as an admissible estimator,...,1.0,0,NaN,17230.0,2013-07-26 14:14:55,NaN,NaN,NaN,NaN,NaN
39980,48303,2,NaN,2013-01-22 22:49:17,2,NaN,"<p>I don't know what it's called, but it is es...",7290.0,2013-01-22 22:49:17,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48297.0,NaN,NaN,NaN
39981,48304,1,NaN,2013-01-22 22:59:29,6,1455.0,<p>One of the problems in my textbook is posed...,19952.0,2014-07-22 20:49:23,How to find marginal distribution from joint d...,...,1.0,7,NaN,22468.0,2013-06-28 16:02:53,NaN,NaN,NaN,NaN,NaN
39982,48306,1,48320.0,2013-01-22 23:10:16,5,551.0,<p>I'm having trouble distinguishing between t...,19949.0,2013-01-23 08:47:55,Conceptual distinction between heteroscedastic...,...,1.0,1,2.0,88.0,2013-01-23 00:32:33,NaN,NaN,NaN,NaN,NaN
39983,48307,2,NaN,2013-01-22 23:37:12,3,NaN,<p>In your argument for the first problem you ...,16297.0,2013-01-22 23:37:12,NaN,...,NaN,1,NaN,NaN,NaN,NaN,48302.0,NaN,NaN,NaN
39984,48308,2,NaN,2013-01-22 23:40:35,2,NaN,"<p>As mentioned in my comment, a way to approx...",2392.0,2013-01-22 23:40:35,NaN,...,NaN,6,NaN,NaN,NaN,NaN,47676.0,NaN,NaN,NaN
39985,48309,2,NaN,2013-01-23 00:21:57,1,NaN,<p>To whiten a $n$ by $d$ matrix $M$ it is not...,603.0,2013-01-23 00:21:57,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48212.0,NaN,NaN,NaN
39986,48310,1,NaN,2013-01-23 00:49:47,0,240.0,<p>I am working on a study where I have a samp...,19953.0,2013-02-22 10:58:58,Independent and dependent variables in Repeate...,...,1.0,1,NaN,930.0,2013-02-22 10:58:58,NaN,NaN,NaN,NaN,NaN
39987,48311,1,NaN,2013-01-23 02:31:34,2,310.0,<p>When studying math / stats or reading a aca...,1887.0,2013-01-23 15:21:59,"Seeking a new note-taking tool, for studying m...",...,2.0,6,NaN,NaN,NaN,NaN,NaN,2013-01-23 15:29:42,NaN,NaN
39988,48313,2,NaN,2013-01-23 04:29:40,-1,NaN,"<p>I wrote a book on this topic:</p>\n\n<p>""Pr...",19735.0,2013-01-23 04:29:40,NaN,...,NaN,1,NaN,NaN,NaN,2013-01-23 04:29:40,2032.0,NaN,NaN,NaN
39989,48314,1,48315.0,2013-01-23 04:48:52,4,62.0,<p>If we know that random variables $X$ and $Y...,18603.0,2013-01-23 13:12:17,Sign of correlation of logged variables,...,2.0,0,1.0,17230.0,2013-01-23 10:30:03,NaN,NaN,NaN,NaN,NaN
39990,48315,2,NaN,2013-01-23 05:18:55,5,NaN,"<p>No, without any additional assumption, know...",18274.0,2013-01-23 06:00:28,NaN,...,NaN,1,NaN,18274.0,2013-01-23 06:00:28,NaN,48314.0,NaN,NaN,NaN
39991,48317,1,48601.0,2013-01-23 07:11:33,8,1894.0,<p>Beginner questions:</p>\n\n<p>I want to tes...,19960.0,2013-01-26 18:34:58,Kolmogorov-Smirnov with discrete data: What is...,...,2.0,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39992,48318,1,NaN,2013-01-23 07:52:57,0,52.0,<p>I want to estimate the distribution functio...,19962.0,2013-01-23 07:52:57,density estimation when only mean and variance...,...,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39993,48319,2,NaN,2013-01-23 08:45:19,1,NaN,<p>I guess you are having a hard time due to y...,19914.0,2013-01-23 09:08:39,NaN,...,NaN,2,NaN,19914.0,2013-01-23 09:08:39,NaN,48310.0,NaN,NaN,NaN
39994,48320,2,NaN,2013-01-23 08:47:55,1,NaN,"<p>To give precise definitions, let $X_1, \\ld...",4376.0,2013-01-23 08:47:55,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48306.0,NaN,NaN,NaN
39995,48321,2,NaN,2013-01-23 09:00:01,0,NaN,<p>you can use the matlab codes for svm and co...,19966.0,2013-01-23 09:00:01,NaN,...,NaN,0,NaN,NaN,NaN,NaN,45118.0,NaN,NaN,NaN
39996,48322,2,NaN,2013-01-23 09:09:34,3,NaN,"<p>I use <a href=""http://www.gnu.org/software/...",892.0,2013-01-23 13:13:30,NaN,...,NaN,2,NaN,892.0,2013-01-23 13:13:30,NaN,48311.0,NaN,NaN,NaN
39997,48323,2,NaN,2013-01-23 09:16:44,1,NaN,"<p>If I understand your question correctly, yo...",2020.0,2013-01-23 09:16:44,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48247.0,NaN,NaN,NaN
39998,48324,2,NaN,2013-01-23 09:36:07,3,NaN,"<p>Doesn't really help you with your question,...",19914.0,2013-01-23 09:36:07,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48297.0,NaN,NaN,NaN
39999,48325,1,NaN,2013-01-23 09:44:07,-1,116.0,"<p>I have 10 vectors each having 100,000 point...",19968.0,2013-02-22 11:23:54,are data sets obtained from a Normal distribut...,...,2.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
posts1.head(10)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaN,NaN,NaN
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaN,NaN,NaN
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaN,NaN,2010-07-19 20:19:46,NaN,NaN
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,NaN,...,NaN,3,NaN,NaN,NaN,2010-07-19 19:16:27,3.0,NaN,NaN,NaN
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaN,NaN,NaN,NaN,NaN

In [55]:
posts_id = posts1.rename(columns={"Id":"postId", "OwnerUserId":"userId"})
posts_id.head(10)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaN,NaN,NaN
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaN,NaN,NaN
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaN,NaN,2010-07-19 20:19:46,NaN,NaN
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,NaN,...,NaN,3,NaN,NaN,NaN,2010-07-19 19:16:27,3.0,NaN,NaN,NaN
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaN,NaN,NaN,NaN,NaN

#### 14. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [56]:
selected_users=users[['userId','Reputation','Views','UpVotes','DownVotes']]
selected_users.head()
selected_posts=posts_id[['postId','Score','userId','ViewCount','CommentCount']]
selected_posts.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 15. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [57]:
merger=selected_users.merge(selected_posts)
merger.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 16. How many missing values do you have in your merged dataframe? On which columns?

In [58]:
merger.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

#### 17. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [61]:
view_counts_null = merger[(merger['ViewCount'].isnull()==True)]
view_counts_null

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0
10,-1,1,0,5007,1920,15331,0,NaN,0
11,-1,1,0,5007,1920,15332,0,NaN,0
12,-1,1,0,5007,1920,16296,0,NaN,0
13,-1,1,0,5007,1920,16366,0,NaN,0
14,-1,1,0,5007,1920,19423,0,NaN,0
15,-1,1,0,5007,1920,19848,0,NaN,0
16,-1,1,0,5007,1920,20259,0,NaN,0
17,-1,1,0,5007,1920,20261,0,NaN,0
18,-1,1,0,5007,1920,20262,0,NaN,0
19,-1,1,0,5007,1920,20263,0,NaN,0
20,-1,1,0,5007,1920,20264,0,NaN,0
21,-1,1,0,5007,1920,20485,0,NaN,0
22,-1,1,0,5007,1920,20487,0,NaN,0
23,-1,1,0,5007,1920,20489,0,NaN,0
24,-1,1,0,5007,1920,20490,0,NaN,0
25,-1,1,0,5007,1920,21497,0,NaN,0
26,-1,1,0,5007,1920,21795,0,NaN,0
27,-1,1,0,5007,1920,21856,0,NaN,0
28,-1,1,0,5007,1920,21860,0,NaN,0
29,-1,1,0,5007,1920,21861,0,NaN,0
...,...,...,...,...,...,...,...,...,...
38903,25692,408,27,0,0,1213,47,NaN,1
38905,26105,900,101,62,0,43222,1,NaN,0
38912,26105,900,101,62,0,46599,2,NaN,1
38914,26105,900,101,62,0,46766,2,NaN,2
38916,26338,4800,515,1781,47,28238,0,NaN,0
38917,26338,4800,515,1781,47,28328,0,NaN,0
38918,26338,4800,515,1781,47,28978,0,NaN,0
38919,26338,4800,515,1781,47,38854,0,NaN,0
38920,26338,4800,515,1781,47,38877,0,NaN,0
38921,26338,4800,515,1781,47,38879,0,NaN,0
38922,26338,4800,515,1781,47,41312,0,NaN,0
38923,27581,1159,112,186,12,20257,0,NaN,0
38924,27581,1159,112,186,12,20258,0,NaN,0
38925,27581,1159,112,186,12,28225,0,NaN,0
38926,27581,1159,112,186,12,28265,0,NaN,0
38927,27581,1159,112,186,12,28272,0,NaN,0
38928,27581,1159,112,186,12,28302,0,NaN,0
38929,27581,1159,112,186,12,28793,0,NaN,0
38930,27581,1159,112,186,12,28901,0,NaN,0
38931,27581,1159,112,186,12,28928,0,NaN,0
38932,27581,1159,112,186,12,33250,0,NaN,0
38933,27581,1159,112,186,12,40831,0,NaN,0
38934,27581,1159,112,186,12,40833,0,NaN,0
38937,31124,166,5,3,0,14544,6,NaN,2
38938,31388,11,0,0,0,38872,1,NaN,0
38939,32036,7227,991,2664,143,28258,0,NaN,0
38942,35921,113,2,1,0,16397,-2,NaN,1
38944,37890,111,0,0,0,41240,1,NaN,3
38946,42201,131,0,0,0,10683,3,NaN,0
38961,55226,119,2,3,0,16176,1,NaN,0

In [62]:
view_counts_null = merger[(merger['ViewCount'].isnull()==False)]
view_counts_null

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
123,5,6792,1145,662,5,6,152,29229.0,5
131,5,6792,1145,662,5,103,28,1990.0,6
133,5,6792,1145,662,5,125,75,29261.0,2
145,5,6792,1145,662,5,423,156,64481.0,7
150,5,6792,1145,662,5,562,10,1005.0,1
160,5,6792,1145,662,5,898,5,725.0,1
177,5,6792,1145,662,5,1826,26,2762.0,1
182,5,6792,1145,662,5,1904,11,493.0,0
183,5,6792,1145,662,5,1906,7,455.0,3
185,5,6792,1145,662,5,1908,5,351.0,0
187,5,6792,1145,662,5,1912,3,286.0,7
190,5,6792,1145,662,5,2072,13,520.0,2
191,5,6792,1145,662,5,2077,21,9878.0,0
194,5,6792,1145,662,5,2149,22,4469.0,0
196,5,6792,1145,662,5,2167,11,709.0,3
198,5,6792,1145,662,5,2213,15,3182.0,2
201,5,6792,1145,662,5,2245,24,1475.0,2
243,6,457,114,47,0,3804,2,647.0,2
245,6,457,114,47,0,9329,9,938.0,4
246,6,457,114,47,0,21843,2,122.0,3
247,6,457,114,47,0,23750,5,228.0,0
249,6,457,114,47,0,39110,4,981.0,1
251,6,457,114,47,0,47256,1,130.0,0
252,7,429,56,20,0,643,21,1582.0,2
254,8,6764,1089,604,25,1,23,1278.0,1
256,8,6764,1089,604,25,36,41,67396.0,7
260,8,6764,1089,604,25,114,30,1220.0,1
263,8,6764,1089,604,25,168,17,1022.0,1
264,8,6764,1089,604,25,170,56,7733.0,1
284,8,6764,1089,604,25,1173,13,1765.0,5
...,...,...,...,...,...,...,...,...,...
38899,25133,477,46,96,1,48208,0,132.0,5
38904,26105,900,101,62,0,43161,1,269.0,0
38906,26105,900,101,62,0,43482,10,1391.0,0
38907,26105,900,101,62,0,43880,2,71.0,0
38908,26105,900,101,62,0,44195,5,146.0,4
38909,26105,900,101,62,0,44587,3,527.0,5
38910,26105,900,101,62,0,46167,1,84.0,3
38911,26105,900,101,62,0,46229,22,1493.0,5
38913,26105,900,101,62,0,46681,5,527.0,5
38915,26105,900,101,62,0,47791,3,202.0,0
38935,30893,116,2,0,0,19444,3,61.0,1
38936,31017,160,6,6,0,46345,4,3221.0,1
38940,35234,171,0,0,0,23445,14,840.0,0
38941,35705,16,0,0,0,19577,3,409.0,0
38943,36602,121,0,2,0,27672,4,2244.0,1
38945,40342,121,1,1,0,32863,4,144.0,6
38947,43908,384,77,18,0,24072,2,2361.0,4
38948,43908,384,77,18,0,24107,0,551.0,5
38949,43908,384,77,18,0,25702,1,228.0,0
38950,43908,384,77,18,0,25811,47,4463.0,11
38951,43908,384,77,18,0,26326,3,820.0,6
38952,43908,384,77,18,0,26469,0,124.0,0
38953,43908,384,77,18,0,26927,1,2259.0,0
38954,44618,128,1,0,0,21104,3,3650.0,6
38955,44915,1,0,0,0,34012,0,81.0,0
38956,44995,11,9,0,0,44474,1,446.0,1
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5

In [63]:
# The Viewcount is often used. It seems like many videos just didn't get views yet. 
# Therefore, we exchange those by 0
merger["ViewCount"] = merger["ViewCount"].fillna(0)
merger

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
5,-1,1,0,5007,1920,9857,0,0.0,0
6,-1,1,0,5007,1920,9858,0,0.0,0
7,-1,1,0,5007,1920,9860,0,0.0,0
8,-1,1,0,5007,1920,10130,0,0.0,0
9,-1,1,0,5007,1920,10131,0,0.0,0
10,-1,1,0,5007,1920,15331,0,0.0,0
11,-1,1,0,5007,1920,15332,0,0.0,0
12,-1,1,0,5007,1920,16296,0,0.0,0
13,-1,1,0,5007,1920,16366,0,0.0,0
14,-1,1,0,5007,1920,19423,0,0.0,0
15,-1,1,0,5007,1920,19848,0,0.0,0
16,-1,1,0,5007,1920,20259,0,0.0,0
17,-1,1,0,5007,1920,20261,0,0.0,0
18,-1,1,0,5007,1920,20262,0,0.0,0
19,-1,1,0,5007,1920,20263,0,0.0,0
20,-1,1,0,5007,1920,20264,0,0.0,0
21,-1,1,0,5007,1920,20485,0,0.0,0
22,-1,1,0,5007,1920,20487,0,0.0,0
23,-1,1,0,5007,1920,20489,0,0.0,0
24,-1,1,0,5007,1920,20490,0,0.0,0
25,-1,1,0,5007,1920,21497,0,0.0,0
26,-1,1,0,5007,1920,21795,0,0.0,0
27,-1,1,0,5007,1920,21856,0,0.0,0
28,-1,1,0,5007,1920,21860,0,0.0,0
29,-1,1,0,5007,1920,21861,0,0.0,0
...,...,...,...,...,...,...,...,...,...
38932,27581,1159,112,186,12,33250,0,0.0,0
38933,27581,1159,112,186,12,40831,0,0.0,0
38934,27581,1159,112,186,12,40833,0,0.0,0
38935,30893,116,2,0,0,19444,3,61.0,1
38936,31017,160,6,6,0,46345,4,3221.0,1
38937,31124,166,5,3,0,14544,6,0.0,2
38938,31388,11,0,0,0,38872,1,0.0,0
38939,32036,7227,991,2664,143,28258,0,0.0,0
38940,35234,171,0,0,0,23445,14,840.0,0
38941,35705,16,0,0,0,19577,3,409.0,0
38942,35921,113,2,1,0,16397,-2,0.0,1
38943,36602,121,0,2,0,27672,4,2244.0,1
38944,37890,111,0,0,0,41240,1,0.0,3
38945,40342,121,1,1,0,32863,4,144.0,6
38946,42201,131,0,0,0,10683,3,0.0,0
38947,43908,384,77,18,0,24072,2,2361.0,4
38948,43908,384,77,18,0,24107,0,551.0,5
38949,43908,384,77,18,0,25702,1,228.0,0
38950,43908,384,77,18,0,25811,47,4463.0,11
38951,43908,384,77,18,0,26326,3,820.0,6
38952,43908,384,77,18,0,26469,0,124.0,0
38953,43908,384,77,18,0,26927,1,2259.0,0
38954,44618,128,1,0,0,21104,3,3650.0,6
38955,44915,1,0,0,0,34012,0,81.0,0
38956,44995,11,9,0,0,44474,1,446.0,1
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,0.0,0

#### 18. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [64]:
merger['ViewCount'].dtypes

dtype('float64')

In [66]:
merger['ViewCount'] = merger['ViewCount'].astype('int64')
merger['ViewCount'].dtypes

dtype('int64')